.profile-pic-container {
    position: relative;
    display: inline-block;
}

.profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ddd;
    cursor: pointer;
}

.category-filter.active {
    color: var(--ltn__secondary-color);
    font-weight: bold;
    text-decoration: underline;
}

/* custom loading spinner */
#loading-spinner {
    display: flex;
    align-items: center;
    justify-self: center;
    display: none;
}


.loader {
    width: 128px;
    height: 128px;
    border: 5px solid;
    border-color: var(--ltn__secondary-color) transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Checkout */
.select-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0px;
}
